/*-----------------------swiper styles----------------------*/
.drugtitle {
  text-align: center;
  margin-top: 20px;
}

.exinfo {
  text-align: center;
  font-size: 20px;
  color: gray;
}

.card {
  position: relative;
  width: 400px;
  height: 500px;
  margin: auto;
  border: 5px solid black;
  border-radius: 10px;
  background-color: white;
}

.card .drugtext {
  position: relative;
  text-align: justify;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
}

/*read more button*/
.box-1 a {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  text-decoration: none;
  margin-left: 6%;
}

/*keep the upper section white*/
.card .drugimage {
  background: white;
  border-radius: 10px;
}

/*centre image*/
.card .drugimage img {
  display: block; /*removes any extra space*/
  margin-left: auto;
  margin-right: auto;

  margin-top: 10%;
  max-height: 100px;
  max-width: 200px;

  width: auto;
  height: auto;
}

/*add text on top of image*/
.card .top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: 500;
}

/*set max width so it doesnt look ugly*/
.swiper-slide {
  max-width: 400px;
}

.swiper-wrapper {
  box-sizing: border-box;
  max-width: 100%;
}

.swiper-container {
  padding-top: 30px;
  width: 100%;
  /*the code in the line below saved my sanity*/
  position: absolute;
}

.disclaimer_container {
  /* margin: 25px; */
  width: 100%;
  height: 500px;
}
.disclaimer_text {
  width: 50%;
  text-align: justify;
  /* Center horizontally*/
  margin: 0 auto;
}
.buttons_container {
  width: 50%;
  /* Center horizontally*/
  margin: 0 auto;
}

/*testing out buttons */
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

.box-1 { background-color: white; }

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/

.btn-one {
  color: black;
  transition: all 0.3s;
  position:relative;
}

.btn-one span {
  transition: all 0.3s;
}

.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: black;
  border-bottom-color: black;
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 3px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}
a:link {
    text-decoration:none;
  }
