h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.betweenSection {
  border: 5px solid #EFB366;
  border-radius: 2px;
}

/* Buttons */
.container_buttons button {
  border: black;
  border-width: 5px;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1%;
  transition-duration: 0.4s;
  cursor: pointer;
  display: inline;
}

.container_buttons button:hover {
  background-color: #4caf50;
  color: white;
}

.container_selection {
  text-align: center;
}
.container_instructions {
  margin-top: 2%;
}

.textBox {
  display: flex;
  justify-content: center;
}

.tooltip_bar_chart {
  position: relative;
  width: 100px;
  height: 50px;
  padding: 8px;
  margin-top: -20px;
  font: 10px sans-serif;
  background: #ddd;
  pointer-events: none;
  text-align: center;
}

.tooltip_pie {
  position: relative;
  width: 80px;
  height: 40px;
  padding: 8px;
  margin-top: -20px;
  font: 10px sans-serif;
  background: #ddd;
  pointer-events: none;
  text-align: center;
}

 #my_bar_chart {
  display:flex; 
  justify-content: center;
} 

#my_pie_chart {
  height: 500px;
  /* align-items: center; */
  display: flex;
  justify-content: center;
}

#box {
  height: 1000px;
}

#Title_pie {
  margin-top: 30px;
  text-align: center;
  font-size: 200%;
}

#Title_bar_chart {
  text-align: center;
  font-size: 200%;
}

path.slice {
  stroke-width: 2px;
}

polyline {
  opacity: 0.3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

#plotButton {
  margin-left: 38%;
}
