h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.myBody {
  background-color: #36a08c71;
}

.paragraph {
  font-family: "Courier New", Courier, monospace;
}

/* Header and Navigation Bar */
.header {
  padding: 10px;
  text-align: center;
  background: #2A9D8F;
  color: white;
  font-size: 20px;
}

.topnav {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  position: relative;
  background-color: #264653;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #7DCFB6;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: relative;
  top: 25%;
}

/* Footer  */
.footer-basic {
  padding: 40px 0;
  background-color: #6cc6ba;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(49, 49, 49);
  margin-bottom: 0;
}

/* Back to the Top Button */
.backToTheTop {
  margin: auto;
  display: block;

  background-color: white;
  align-self: center;

  color: black;
  border: 2px solid #00fa21;
}

.backToTheTop:hover {
  background-color: #91c41c;
  color: white;
}
